<component name="ArtifactManager">
  <artifact type="war" name="SpringInternational:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringInternationalTest.war">
      <element id="artifact" artifact-name="SpringInternational:war exploded" />
    </root>
  </artifact>
</component>